.App {
  text-align: center;
}

.header{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: antiquewhite;
}

.card-container{
  background-color:rgb(97, 57, 5);
  display: flex;
  flex-wrap: wrap;
}

.beer-can{
  background-color: antiquewhite;
}

.can{
  height: 150px;
}

.card{
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
}


